.page-contact #box1
{
  position: absolute;
  top: 15%;
  left: 5%;
  /*margin-top: 50px;*/
  height: 75%;
  color: white;
  font-family: gearedSlab;
  font-size: 1.5em;
  background: rgba(0 ,0 ,0 ,0.8);
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  
}