#back{
  margin-top: 5%;
}

#box1
{
  background: rgba(0 ,0 ,0 ,0.2);
  height: 83%;
  border-radius: 1em;
}

#box2{
  background: rgba(0 ,0 ,0 ,0.1);
  /*background-size: 83% 33%;*/
  position: absolute;
  margin-left: 60%;
  height: 71%;
  width:33%;
  border-radius: 1em;
  vertical-align: middle;
}

tr {
  border-top: .5px solid #ddd;
  border-bottom: .5px solid #ddd;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}
th{
   margin: .5em 1em;
   text-align: center;  

}

td{
   margin: .5em 1em;

   display: block; 
}

table {
  text-align: center;
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

span{

  /*color: #FF6600;*/
}