.page-eventdetails .capage{
	z-index: 9999;
	position: absolute;
	background:rgba(255, 151, 0, 0.64);
	display: inline-block;
	/*opacity: 0.8; */
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.page-eventdetails .info{
	background:rgba(0, 0, 0, 0.68);
	position: absolute;
	top: 20%;
	height: 65%; 
}
.page-eventdetails #ca_t1{
	position: absolute;
	top: 15%;
	left: 43%;
	width: 15%;
	height: 4%;
}
.page-eventdetails .caside
{
	vertical-align: middle;
	color: white;
	font-family: gearedSlab; 
	z-index: 100000;
	background:rgba(0, 0, 0, 0.68);
	top: 30%;
}
.page-eventdetails h2{
	padding-top:5%;
	padding-bottom:5%;
	margin: 0px;  
}
.page-eventdetails .caside:hover{
	cursor: pointer;
}
.page-eventdetails #dance{
	z-index: -1;
	position: absolute;
	width: 100%;
}
