.page-eventdetails .capage{
	z-index: 9999;
	position: absolute;
	background:rgba(243, 190, 41, 0.58);
	display: inline-block;
	/*opacity: 0.8; */
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.page-eventdetails #close{
	position: absolute;
	top: 10%;
}
.page-eventdetails .info{
	background:rgba(0, 0, 0, 0.62);
	position: absolute;
	color: white;
	font-family: futura;
	top: 21%;
	height: 65%; 
	overflow: hidden;
}
.page-eventdetails #info_title{
	font-family: futura; 
}
.page-eventdetails .left{
	/*left:3%;*/
	position: relative;
	height: 62%;
	max-width: 27%;
	overflow-x: hidden; 
	overflow-y: auto;
}
.page-eventdetails .subevents:hover,
.page-eventdetails .info:hover,
#close span:hover {
	-moz-box-shadow: 1px 1px 50px #999;
	-webkit-box-shadow: 1px 1px 50px #999;
	box-shadow: 1px 1px 50px #999;
}
.page-eventdetails .nav{
	color: white;
	font-size: 0.75em;
}
.page-eventdetails .nav > li >a{
	font-family:futura; 
	margin-top: 0px;
	max-height: 100px;
}
.page-eventdetails .nav > li >a:hover{
	color:black;	
}
.page-eventdetails .nav > li >a:active{
	color:black;	
}
.page-eventdetails .tab_info{
	position: absolute;	
	overflow-y: auto;
	height:85%;
	width: 98.25%;
	padding-top:2%; 
	font-size: 1.25em;
}
.page-eventdetails #title{
	font-family: futura;
	color: #521E1E;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.page-eventdetails .subevents
{
	position: relative;
	vertical-align: middle;
	color: white;
	text-align: center;
	font-family: futura;
	z-index: 100000;
	background:rgba(0, 0, 0, 0.62);
	padding-left: 2%;
}
.subevents:after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #000;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;
}
.page-eventdetails .subevents h4{
	padding-top:5%;
	padding-bottom:5%;
	margin: 0px;  
}
.page-eventdetails .subevents:hover{
	cursor: pointer;
}
.page-eventdetails #image{
	z-index: -1;
	position: fixed;
	top: 23%;
	left: 52%;
	width:30%;
}
