.page-eventdetails .capage{
	z-index: 9999;
	position: absolute;
	background:rgba(255, 151, 0, 0.64);
	display: inline-block;
	/*opacity: 0.8; */
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.page-eventdetails .info{
	background:rgba(0, 0, 0, 0.68);
	position: absolute;
	color: white;
	font-family: gearedSlab;
	top: 20%;
	height: 65%; 
	/*height: auto;*/
	overflow-y: auto;
}
.page-eventdetails .left{
	position: absolute;
	height: 65%;
	vertical-align: middle;
	width: 20%;
	overflow-x: hidden; 
	overflow-y: auto;
}
.page-eventdetails .nav{
	color: white;
	font-size: 1.25em;
	font-family:ComicSans; 
}
.page-eventdetails .nav > li >a{
	color: white;
	/*font-size: 1.25em;*/
	font-family:ComicSans; 
	margin-top: 0px;
	max-height: 100px;
}
.page-eventdetails .tab_info{
	padding-top:2%; 
	font-size: 2em;
}
.page-eventdetails #title{
	position: absolute;
	font-family: gearedSlab;
	color: white;
	left: 43%;
}
.page-eventdetails .subevents
{
	position: relative;
	vertical-align: middle;
	color: white;
	font-family: gearedSlab; 
	z-index: 100000;
	background:rgba(0, 0, 0, 0.68);
	padding-left: 2%;
}
.page-eventdetails .subevents h2{
	padding-top:5%;
	padding-bottom:5%;
	margin: 0px;  
}
.page-eventdetails .subevents:hover{
	cursor: pointer;
}
.page-eventdetails #image{
	z-index: -1;
	position: absolute;
	width:100%;
}
