/*body{
	background: url('../images/events/back.png') no-repeat center center fixed;
	background-size: 110%;
}*/
/*audio{
	display: none;
}*/
.page-events #audio{
	/*display: none;*/
}
.page-events .circles{
	position: absolute;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.page-events .circles:hover{
	cursor: pointer;
	-webkit-transform:scale(1.25); 
    -moz-transform:scale(1.25); 
    -ms-transform:scale(1.25); 
    -o-transform:scale(1.25); 
     transform:scale(1.25);
}
/*Fadding*/
.page-events .r {
    -webkit-animation: fadein 6s; 
       -moz-animation: fadein 6s; 
        -ms-animation: fadein 6s; 
         -o-animation: fadein 6s; 
            animation: fadein 6s;
}
.page-events .b {
    -webkit-animation: fadein 4s; 
       -moz-animation: fadein 4s; 
        -ms-animation: fadein 4s; 
         -o-animation: fadein 4s; 
            animation: fadein 4s;
}
.page-events .y {
    -webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*INFORMALS*/
.page-events #informals_c{
	height: 100%;
	width: 100%;
}
.page-events .informals{
	z-index: 14;
	top:63%;
	left:27%;
	width: 8%;
	/*height: 16%;*/
}
.page-events #informals_t{
	position: absolute;
	top:48%;
	left: 10%;
	height: 15%;
	width: 75%;
}
/*CHOREO*/
.page-events .choreo{
	z-index: 14;
	top: 10%;
	right: 20%;
	width: 11%;
	/*height: 22%;*/
}
.page-events #choreo_c{
	height: 100%;
	width: 100%;
}
.page-events #choreo_t{
	position: absolute;
	top: 65%;
	left: 25%;
	height: 12%;
	width:48%;
}
.page-events #choreo{	
	position: absolute;	
	top: 11%;
	left: 35%;
	height: 50%;
	width:25%;
}
/*FINEARTS*/
.page-events .finearts{
	z-index: 2;
	top:45%;
	right:16%;
	width: 12%;
	/*height: 24%;*/
}
.page-events #finearts_c{
	height: 100%;
	width: 100%;
}
.page-events #finearts_t{
	position: absolute;
	top: 60%;
	left: 18%;
	height: 12%;
	width: 65%;
}
.page-events #finearts{	
	position: absolute;
	top: 15%;
	left: 25%;
	height: 40%;
	width: 48%;
}
/*LEC DEMS*/
.page-events .lecdems{
	z-index: 14;
	top:23%;
	left:40%;
	width: 23%;
	/*height: 46%;*/
}
.page-events #lecdems_c{
	height: 100%;
	width: 100%;
}
#lecdems_t{
	position: absolute;
	top: 70%;
	left: 20%;
	height: 10%;
	width: 60%;
}
.page-events #lecdems{	
	position: absolute;
	top: 12%;
	left: 27%;
	height: 55%;
	width: 55%;
}
/*YELLOW*/
.page-events .yellow{
	z-index: 0;
	top:33%;
	left:13%;
	width: 5%;
}
#yellow{	
	height:100%; 
	width:100%;
}
/*SPEAKING*/
.page-events .speaking{
	z-index: 14;
	top:18%;
	left:20%;
	width: 10%;
	/*height: 20%;*/
}
.page-events #speaking_c{
	height: 100%;
	width: 100%;
}
.page-events #speaking_t{
	position: absolute;
	top: 65%;
	left: 21%;
	height: 14%;
	width: 55%;
}
.page-events #speaking{	
	position: absolute;
	top: 20%;
	left: 25%;
	height: 40%;
	width: 48%;
}
/*CLASSICAL ARTS*/
.page-events .ca{
	z-index: 2;
	top:50%;
	left:14%;
	width: 15%;
	/*height: 30%;*/
}
.page-events #ca_c{
	height: 100%;
	width: 100%;
}
.page-events #ca_t{
	position: absolute;
	top: 65%;
	left: 15%;
	height: 10%;
	width: 65%;
}
.page-events #ca{	
	position: absolute;
	top: 25%;
	left: 20%;
	height: 35%;
	width: 55%;
}
/*LIFESTYLE*/
.page-events .lifestyle{
	z-index: 1;
	top:65%;
	right:12%;
	width: 9%;
	/*height: 18%*/
}
.page-events #lifestyle_c{
	height: 100%;
	width: 100%;
}
.page-events #lifestyle_t{
	position: absolute;
	top: 45%;
	left:12%;
	height:15%;
	width: 75%;
}
/*LIGHTMUSIC*/
.page-events .lm{
	top:61%;
	left:38%;
	width: 13%;
	/*height: 26%;*/
}
.page-events #lm_c{
	height: 100%;
	width: 100%;
}
.page-events #lm_t{
	position: absolute;
	top: 65%;
	left: 15%;
	height: 12%;
	width: 65%;
}
.page-events #lm{	
	position: absolute;
	top: 23%;
	left: 28%;
	height: 35%;
	width: 42%;
}
/*DESIGN AND MEDIA*/
.page-events .dam{
	z-index: 13;
	top:25%;
	right:24%;
	width: 16%;
	/*height: 32%;*/
}
.page-events #dam_c{
	height: 100%;
	width: 100%;
}
.page-events #dam_t{
	position: absolute;
	top: 60%;
	left: 15%;
	height: 10%;
	width: 70%;
}
.page-events #dam{	
	position: absolute;
	top: 32%;
	left: 28%;
	height: 22%;
	width: 40%;
}
/*RED*/
.page-events .red{
	z-index: 0;
	top:77%;
	right:28%;
	width: 4%;
	/*height: 8%;*/
}
.page-events #red{	
	height:100%; 
	width:100%;
}
/*RED1*/
.page-events .red1{
	z-index: 0;
	top:28%;
	right:13%;
	width: 4%;
	/*height: 8%;*/
}
.page-events #red1{	
	height:100%; 
	width:100%;
}
/*QUIZZING*/
.page-events .quiz{
	z-index: 3;
	top:38%;
	left:7%;
	width: 11%;
	/*height: 22%;*/
}
.page-events #quiz_c{
	height: 100%;
	width: 100%;
}
.page-events #quiz_t{
	position: absolute;
	top: 70%;
	left:23%;
	height: 12%;
	width: 50%;
}
.page-events #quiz{	
	position: absolute;
	top: 10%;
	left: 27%;
	height: 50%;
	width: 42%;
}
/*WRITING*/
.page-events .writing{
	z-index: 13;
	top:30%;
	left:24%;
	width: 18%;
	/*height: 36;*/
}
.page-events #writing_c{
	height: 100%;
	width: 100%;
}
.page-events #writing_t{
	position: absolute;
	top: 73%;
	left: 18%;
	height: 11%;
	width: 56%;
}
.page-events #writing{	
	position: absolute;
	top: 10%;
	left: 15%;
	height: 60%;
	width: 50%;
}
/*WORDGAMES*/
.page-events .wordgames{
	top:13%;
	left:40%;
	width: 8%;
	/*height: 16%;*/
}
.page-events #wordgames_c{
	height: 100%;
	width: 100%;
}
.page-events #wordgames_t{
	position: absolute;
	top:27%;
	left:14%;
	height:42%;
	width: 64%;
}
/*THESPIAN*/
.page-events .thespian{
	z-index: 1;
	top:32%;
	right:12%;
	width: 9%;
	/*height: 18%;*/
}
.page-events #thespian_c{
	height: 100%;
	width: 100%;
}
.page-events #thespian_t{
	position: absolute;
	top:43%;
	left:20%;
	height:15%;
	width: 60%;
}
/*WESTERN*/
.page-events .western{
	z-index: 13;
	top:54%;
	right:28%;
	width: 15%;
	/*height: 30%;*/
}
.page-events #western_c{
	height: 100%;
	width: 100%;
}
.page-events #western_t{
	position: absolute;
	top: 68%;
	left: 14%;
	height: 10%;
	width: 68%;
}
.page-events #western{	
	position: absolute;
	top: 18%;
	left: 25%;
	height: 42%;
	width: 44%;
}
/*BLUE*/
.page-events .blue{
	top:77%;
	left:28%;
	width: 4%;
	/*height: 8%;*/
}
.page-events #blue{	
	height:100%; 
	width:100%;
}
