/*body{
	background: url('../images/events/back.png') no-repeat center center fixed;
	background-size: 110%;
}*/

.circles{
	position: absolute;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.circles:hover{
	cursor: pointer;
	-webkit-transform:scale(1.25); 
    -moz-transform:scale(1.25); 
    -ms-transform:scale(1.25); 
    -o-transform:scale(1.25); 
     transform:scale(1.25);
}
/*Fadding*/
.r {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}
.b {
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}
.y {
    -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 7s; /* Firefox < 16 */
        -ms-animation: fadein 7s; /* Internet Explorer */
         -o-animation: fadein 7s; /* Opera < 12.1 */
            animation: fadein 7s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*INFORMALS*/
#informals_c{
	height: 100%;
	width: 100%;
}
.informals{
	z-index: 14;
	top:63%;
	left:27%;
	width: 8%;
	/*height: 16%;*/
}
#informals_t
{
	position: absolute;
	top:48%;
	left: 10%;
	height: 15%;
	width: 75%;
}
/*CHOREO*/
.choreo{
	z-index: 14;
	top: 10%;
	right: 20%;
	width: 11%;
	/*height: 22%;*/
}
#choreo_c{
	height: 100%;
	width: 100%;
}
#choreo_t{
	position: absolute;
	top: 65%;
	left: 25%;
	height: 12%;
	width:48%;
}
#choreo{	
	position: absolute;	
	top: 11%;
	left: 35%;
	height: 50%;
	width:25%;
}
/*FINEARTS*/
.finearts{
	z-index: 2;
	top:45%;
	right:16%;
	width: 12%;
	/*height: 24%;*/
}
#finearts_c{
	height: 100%;
	width: 100%;
}
#finearts_t{
	position: absolute;
	top: 60%;
	left: 18%;
	height: 12%;
	width: 65%;
}
#finearts{	
	position: absolute;
	top: 15%;
	left: 25%;
	height: 40%;
	width: 48%;
}
/*LEC DEMS*/
.lecdems{
	z-index: 14;
	top:23%;
	left:40%;
	width: 23%;
	/*height: 46%;*/
}
#lecdems_c{
	height: 100%;
	width: 100%;
}
#lecdems_t{
	position: absolute;
	top: 70%;
	left: 20%;
	height: 10%;
	width: 60%;
}
#lecdems{	
	position: absolute;
	top: 12%;
	left: 27%;
	height: 55%;
	width: 55%;
}
/*YELLOW*/
.yellow{
	z-index: 0;
	top:33%;
	left:13%;
	width: 5%;
	height: 10%;
}
#yellow{	
	height:100%; 
	width:100%;
}
/*SPEAKING*/
.speaking{
	z-index: 14;
	top:18%;
	left:20%;
	width: 10%;
	/*height: 20%;*/
}
#speaking_c{
	height: 100%;
	width: 100%;
}
#speaking_t{
	position: absolute;
	top: 65%;
	left: 21%;
	height: 14%;
	width: 55%;
}
#speaking{	
	position: absolute;
	top: 20%;
	left: 25%;
	height: 40%;
	width: 48%;
}
/*CLASSICAL ARTS*/
.ca{
	z-index: 2;
	top:50%;
	left:14%;
	width: 15%;
	/*height: 30%;*/
}
#ca_c{
	height: 100%;
	width: 100%;
}
#ca_t{
	position: absolute;
	top: 65%;
	left: 15%;
	height: 10%;
	width: 65%;
}
#ca{	
	position: absolute;
	top: 25%;
	left: 20%;
	height: 35%;
	width: 55%;
}
/*LIFESTYLE*/
.lifestyle{
	z-index: 1;
	top:65%;
	right:12%;
	width: 9%;
	/*height: 18%*/
}
#lifestyle_c{
	height: 100%;
	width: 100%;
}
#lifestyle_t{
	position: absolute;
	top: 45%;
	left:12%;
	height:15%;
	width: 75%;
}
/*LIGHTMUSIC*/
.lm{
	top:61%;
	left:38%;
	width: 13%;
	/*height: 26%;*/
}
#lm_c{
	height: 100%;
	width: 100%;
}
#lm_t{
	position: absolute;
	top: 65%;
	left: 15%;
	height: 12%;
	width: 65%;
}
#lm{	
	position: absolute;
	top: 23%;
	left: 28%;
	height: 35%;
	width: 42%;
}
/*DESIGN AND MEDIA*/
.dam{
	z-index: 13;
	top:25%;
	right:24%;
	width: 16%;
	/*height: 32%;*/
}
#dam_c{
	height: 100%;
	width: 100%;
}
#dam_t{
	position: absolute;
	top: 60%;
	left: 15%;
	height: 10%;
	width: 70%;
}
#dam{	
	position: absolute;
	top: 32%;
	left: 28%;
	height: 22%;
	width: 40%;
}
/*RED*/
.red{
	z-index: 0;
	top:77%;
	right:28%;
	width: 4%;
	/*height: 8%;*/
}
#red{	
	height:100%; 
	width:100%;
}
/*RED1*/
.red1{
	z-index: 0;
	top:28%;
	right:13%;
	width: 4%;
	/*height: 8%;*/
}
#red1{	
	height:100%; 
	width:100%;
}
/*QUIZZING*/
.quiz{
	z-index: 3;
	top:38%;
	left:7%;
	width: 11%;
	/*height: 22%;*/
}
#quiz_c{
	height: 100%;
	width: 100%;
}
#quiz_t{
	position: absolute;
	top: 70%;
	left:23%;
	height: 12%;
	width: 50%;
}
#quiz{	
	position: absolute;
	top: 10%;
	left: 27%;
	height: 50%;
	width: 42%;
}
/*WRITING*/
.writing{
	z-index: 13;
	top:30%;
	left:24%;
	width: 18%;
	/*height: 36;*/
}
#writing_c{
	height: 100%;
	width: 100%;
}
#writing_t{
	position: absolute;
	top: 73%;
	left: 18%;
	height: 11%;
	width: 56%;
}
#writing{	
	position: absolute;
	top: 10%;
	left: 15%;
	height: 60%;
	width: 50%;
}
/*WORDGAMES*/
.wordgames{
	top:13%;
	left:40%;
	width: 8%;
	/*height: 16%;*/
}
#wordgames_c{
	height: 100%;
	width: 100%;
}
#wordgames_t{
	position: absolute;
	top:27%;
	left:14%;
	height:42%;
	width: 64%;
}
/*THESPIAN*/
.thespian{
	z-index: 1;
	top:32%;
	right:12%;
	width: 9%;
	/*height: 18%;*/
}
#thespian_c{
	height: 100%;
	width: 100%;
}
#thespian_t{
	position: absolute;
	top:43%;
	left:20%;
	height:15%;
	width: 60%;
}
/*WESTERN*/
/*.western{
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease;
}
.western:hover{
    -webkit-transform:scale(1.25); 
    -moz-transform:scale(1.25); 
    -ms-transform:scale(1.25); 
    -o-transform:scale(1.25); 
     transform:scale(1.25);
}*/
.western{
	z-index: 13;
	top:54%;
	right:28%;
	width: 15%;
	/*height: 30%;*/
}
#western_c{
	height: 100%;
	width: 100%;
}
#western_t{
	position: absolute;
	top: 68%;
	left: 14%;
	height: 10%;
	width: 68%;
}
#western{	
	position: absolute;
	top: 18%;
	left: 25%;
	height: 42%;
	width: 44%;
}
/*BLUE*/
.blue{
	top:77%;
	left:28%;
	width: 4%;
	/*height: 8%;*/
}
#blue{	
	height:100%; 
	width:100%;
}
