.carousel
{	
	width:70%;
	background: rgba(0, 0, 0, 0.7);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	text-align: center;
	position: relative;	
}

.slid
{
	margin-right: auto;
	text-align: center;
	position: relative;
}
.carouselImage
{
	margin-left: auto;
	margin-right: auto;
}
.carousel-indicators{
	display:none;
}

.carousel-control{
	margin-top: 0 !important;
}