 /*div{
  height: 400px;
}
img{
  margin:auto;
  width: 800px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}*/
.carousel
{
height: 600px;
width: 600px;
margin-left: auto;
margin-right: auto;
margin-top: 11em;

	}

.slid
{
	
width: 600px;
height: 600px;
}



