.milan{
	margin-top: 6%;
	height: 90%;
}
.leftBox{
	background: rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	min-height: 80%;
	position: fixed;
	z-index: 100;
}
.rightBox{
	background: rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	min-height: 50%;
	/*overflow-y: auto; */
	padding-top: 2em;
	padding-bottom: 2em;
	position: absolute;
}
.btn-primary
{
	position: fixed;
	z-index: 1000;
	right: 50%;
	top: 92%;

}
.tabs
{
	top: -8%;
	/*position: fixed;*/
}
p
{
	font-family:futura;
	font-size: 1.55em;
}
.tab
{
	font-family: gearedSlab;
}
/*#formshow
{
	position: absolute;
	top: 90%;
	left: 30%;
}
*/
