.page-proshows #close{
  z-index: 5;
}
.page-proshows .row{
    background:rgba(243, 190, 41, 0.58);
  position: absolute;
  left: -3%; 
  top: 0%;
  width: 110%;
  height: 100%;
  /*transform: skewX(20deg);*/
}
.page-proshows .container{
  transition: all 1s;
  position: absolute;
  height:25%;
  border-radius: 50%;
}
.page-proshows .container:hover{
  cursor: pointer;
  border-radius: 0%;
  -moz-box-shadow: 1px 1px 50px #1B2A0A;
  -webkit-box-shadow: 1px 1px 50px #1B2A0A;
  box-shadow: 1px 1px 50px #1B2A0A;
}
.page-proshows #info{
  z-index: 1;
  transition: all 1s;
  position: absolute;
  background:rgba(0, 0, 0, 0.62);
  border-radius:50%;  
  top: 30%;
  left: 30%;
  width: 40%;
  height: 50%;
}
.page-proshows .title{
  position: absolute;
  top: 30%;
  width: 100%;
  margin: 0 auto;
  font-family: gearedSlab;
  color: white;
  font-size: 4em;
  margin-top: 2%;
  text-align: center;
}
.page-proshows .date{
  position: absolute;
  font-family: gearedSlab;
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  top: 50%;
}
.page-proshows #classical{
  transition: all 1s;
  z-index: 2;
  background: url('../images/proshow_images/classical.jpg');
  background-size: cover;
  position: absolute;
  top: 13%;
  left:42%;
  width:15%;
}
.page-proshows #choreo{
  transition: all 1s;
  z-index: 2;
  position: absolute; 
  background: url('../images/proshow_images/choreo.jpg');
  background-size: cover;
  width:15%;
  top: 35%; 
  left:65%;
}
.page-proshows #edm{
  transition: all 1s;
  z-index: 2;
  position: absolute; 
  background: url('../images/proshow_images/edm.jpg');
  background-size: cover;
  top:66%;
  width:15%;
  left:55%;
}
.page-proshows #rock{
  transition: all 1s;
  z-index: 2;
  position: absolute; 
  background: url('../images/proshow_images/rock.jpg');
  background-size: cover;
  top:66%;
  width:15%;
  right:55%;
}
.page-proshows #popular{
  transition: all 1s;
  z-index: 2;
  position: absolute; 
  background: url('../images/proshow_images/popular.jpg');
  background-size: cover;
  top: 35%; 
  width:15%;
  right:65%;
}
.page-proshows .show-block:after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.59);
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  z-index: -1;
}
.page-proshows img{
  width: 100%;
}
.page-proshows-details .info {
  margin-top: 0%;
  height: 100%;
  color: white;
  font-family: gearedSlab;
  font-size: 1.25em;
  background: rgba(0 ,0 ,0 ,0.8);
  overflow-x: hidden;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
}

/*.modal-dialog {
	width: 80%;
  height:10%;
}

.modal-body {
	height: 610px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.page-proshows .overlay:after {
  position: absolute;
  content:"";
  background-color: black;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.7;
}

.page-proshows .overlay:hover:after  {
  opacity: 1;
}
*/