#sponsback{
	background: rgba(0, 0, 0, 0.2);
	background-size: 101% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#over{
	    background-image:url("../images/top.png");
	}

#content{
	margin-top: 7%;
}