.page-wcs #box1
{
  position: absolute;
  top: 20%;
  height: 65%;
  color: white;
  font-family: gearedSlab;
  font-size: 1.25em;
  background: rgba(0 ,0 ,0 ,0.8);
  overflow-x: hidden;
  overflow-y: auto; 
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
}
.page-wcs .artist-roll {
}
.page-wcs .artist-roll:hover {
	
}