	body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.expand-width
{
	width:100%;
}

.container {
	    background: -webkit-linear-gradient(top,#92D7E7,#C1E6EF); 
  position: absolute;
  overflow-x:hidden;
  overflow-y:hidden; 
  width: 100%;
  height: 100%;
}

.scene {
  padding: 0;
  margin: 0;
}

/*#saarang
{
	width:643px;
	height:77px;
}
#year
{
	width:356px;
	height:82px;
}*/

@-webkit-keyframes move1{
	 0% {margin-left:58.82%;}
	 20% {margin-left:25%;}
	 40% {margin-left:0%;}
	 60% {margin-left: 62.5%;}
	 80% {margin-left: 125%;}
	 100% {margin-left: 58.82%;}
}
@-webkit-keyframes move2{
	0% {margin-left: 0%;}
 20% {margin-left:-31.25%;}
 40% {margin-left:62.5%;}
 60% {margin-left: 125%;}
 80% {margin-left: 62.5%;}
 100% {margin-left: 0%;}
}
@-webkit-keyframes move3{
  0% {margin-left:93.75%;}
	 20% {margin-left:125%;}
	 40% {margin-left:62.5%;}
	 60% {margin-left: 0%;}
	 80% {margin-left: 62.5%;}
	 100% {margin-left:93.75%;}
}
@-webkit-keyframes move4{
   0% {margin-left:85.93%;}
	 20% {margin-left:112.5%;}
	 40% {margin-left:50%;}
	 60% {margin-left: -31.25%;}
	 80% {margin-left: 50%;}
	 100% {margin-left: 85.93%;}
}
@-webkit-keyframes move5{
   0% {margin-left:78.125%;}
	 20% {margin-left:25%;}
	 40% {margin-left:0%;}
	 60% {margin-left: 62.5%;}
	 80% {margin-left: 125%;}
	 100% {margin-left: 78.125%;}
}
@-webkit-keyframes move6{
 0% {margin-left:23.43%;}
	 20% {margin-left:0%;}
	 40% {margin-left:93.75%;}
	 60% {margin-left: 125%;}
	 80% {margin-left: 75%;}
	 100% {margin-left: 23.43%;}
}
@-webkit-keyframes move7{
   0% {margin-left:11.7%;}
	 20% {margin-left:75%;}
	 40% {margin-left:112.5%;}
	 60% {margin-left: 75%;}
	 80% {margin-left: 37.5%;}
	 100% {margin-left: 11.7%;}
}

#c1
{
	margin-top: 15%;
	margin-left: 57%;
	width: 8%;
	-webkit-animation-name:move1;
	-webkit-animation-duration:1000s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: move1;
    animation-duration:1000s;
    animation-iteration-count:infinite;
	

}
#c2
{
	margin-top: -5%;
	margin-left: 0%;
	width: 8.627%;
	height: 5.647%;
	-webkit-animation-name:move2;
	-webkit-animation-duration:1000s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: move2;
    animation-duration:1000s;
    animation-iteration-count:infinite;
	
}

#c3
{
	margin-left: 90%;
	margin-top: -11%;
	width: 7.215%;
	height: 4.314%;
	-webkit-animation-name:move3;
	-webkit-animation-duration:1000s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: move3;
    animation-duration:1000s;
    animation-iteration-count:infinite;

}
#c4
{
	margin-left: 80%;
	margin-top: 3%;
	width: 7.843%;
	height: 4.7%;
	-webkit-animation-name:move4;
	-webkit-animation-duration:1000s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: move4;
    animation-duration:1000s;
    animation-iteration-count:infinite;

}
#c5
{
	margin-left: 72%;	
	margin-top: -14%;
	width: 7.125%;
	height: 4.314%;
	-webkit-animation-name:move5;
	-webkit-animation-duration:1000s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: move5;
    animation-duration:1000s;
    animation-iteration-count:infinite;
}
#c6
{
	margin-left: 25%;
	margin-top: -5%;
	width: 10.19%;
	height: 6.27%;
	-webkit-animation-name:move6;
	-webkit-animation-duration:1000s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: move6;
    animation-duration:1000s;
    animation-iteration-count:infinite;
}
#c7
{
	margin-left: 13%;
	margin-top: -11%;
	width: 7.05%;
	height: 4.157%;
	-webkit-animation-name:move7;
	-webkit-animation-duration:1000s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: move7;
    animation-duration:1000s;
    animation-iteration-count:infinite;
}
/*@-webkit-keyframes wave1{
0%{margin-top:200px;margin-left:-250px;}
25%{margin-top:210px;margin-left:-255px;}
50%{margin-top:200px;margin-left:-260px;}
75%{margin-top:190px;margin-left:-255px;}
100%{margin-top:200px;margin-left:-250px;}
}
@-webkit-keyframes wave2{
0%{margin-top:220px;margin-left:-280px;}
25%{margin-top:240px;margin-left:-290px}
50%{margin-top:220px;margin-left:-300px;}
75%{margin-top:200px;margin-left:-290px;}
100%{margin-top:220px;margin-left:-280px;}
}
@-webkit-keyframes wave3{
0%{margin-top:250px;margin-left:-250px;}
25%{margin-top:270px;margin-left:-270px;}
50%{margin-top:250px;margin-left:-290px;}
75%{margin-top:230px;margin-left:-270px;}
100%{margin-top:250px;margin-left:-250px;}
}
@-webkit-keyframes wave4{
0%{margin-top:280px;margin-left:-250px;}
25%{margin-top:310px;margin-left:-270px;}
50%{margin-top:280px;margin-left:-290px;}
75%{margin-top: 250px;margin-left:-270px;}
100%{margin-top:280px;margin-left:-250px;}
}
@-webkit-keyframes wave5{
0%{margin-top:200px;margin-left:-250px;}
25%{margin-top:205px;margin-left:-270px;}
50%{margin-top:200px;margin-left:-290px;}
75%{margin-top: 205px;margin-left:-270px;}
100%{margin-top:200px;margin-left:-250px;}
}*/
#w1
{
	margin-left: -11%;
	margin-top: 16%;
	width: 150%;
	-webkit-animation-name:wave1;
	-webkit-animation-duration:6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: wave1;
    animation-duration:6s;
    animation-iteration-count:infinite;
}
#w2
{
	margin-left: -12%;
	margin-top: 17%;
	width: 150%;
	-webkit-animation-name:wave2;
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: wave2;
    animation-duration:5s;
    animation-iteration-count:infinite;
}
#w3
{
	margin-left: -10%;
	margin-top: 18%;
	width: 150%;
	-webkit-animation-name:wave3;
	-webkit-animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: wave3;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
#w4
{
	margin-left: -12%;
	margin-top: 19%;
	width: 150%;
	-webkit-animation-name:wave4;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: wave4;
    animation-duration:3s;
    animation-iteration-count:infinite;
}
#w5
{
	margin-left: -10%;
	margin-top: 15%;
	width: 150%;
	-webkit-animation-name:wave5;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-name: wave5;
    animation-duration:3s;
    animation-iteration-count:infinite;
}


