<div ng-show="capage" class="capage">
	<a href="#/events"><div id="close" class="col-md-offset-11"><span ng-click="capage=false" class="glyphicon glyphicon-remove-circle"></span></div></a>
	<div><img id="ca_t1" src="images/events/classicalarts_t.png"></div>
	<br><br>
	<br><br>
	<div class="col-md-5 col-md-offset-2">
		<img id="dance" src="images/classical/dance.png">
	</div>
	<br><br><br>
	<div class="col-md-offset-1">	
		<div class="caside c1">
			<h2>SOLODANCE</h2>	
		</div>
		<span class="glyphicon g1 right glyphicon-option-vertical"></span>
		<span class="glyphicon g1 left glyphicon-option-vertical"></span>
		<br><br>
		<div class="caside c2">
			<h2>GROUPDANCE</h2>	
		</div>
		<span class="glyphicon g2 right glyphicon-option-vertical"></span>
		<span class="glyphicon g2 left glyphicon-option-vertical"></span>
		<br><br>
		<div class="caside c3">
			<h2>VOCAL</h2>	
		</div>
		<span class="glyphicon g3 right glyphicon-option-vertical"></span>
		<span class="glyphicon g3 left glyphicon-option-vertical"></span>
		<br><br>
		<div class="caside c4">
			<h2>INSTRUMENTAL</h2>	
		</div>
	</div>	
	<div class="info col-md-5 col-md-offset-6">
		<p>information regarding the art</p>
	</div>
</div>