<div id="back">
    <div class="row">
        <div id="box1" class="col-md-4 col-md-offset-1">
            <table>
                <tr>
                    <th id="contacts-header" class="contacts-header"><h2>Contact Us</h2></th>
                </tr>
                <tr>
                    <th class="contacts-selector" ng-click="secs=true;spons=events=shows=sales=pub=hosp=webops=fin=fac=saf=qms=design=false"> CULTURAL AFFAIRS</th>
                </tr>
                <tr>
                    <th class="contacts-selector" ng-click=";spons=true;secs=events=shows=sales=pub=hosp=webops=fin=fac=saf=qms=design=false;">SPONSORSHIP AND PR</th>
                </tr>   
                <tr>
                    <th class="contacts-selector" ng-click="events=true;secs=spons=shows=sales=pub=hosp=webops=fin=fac=saf=qms=design=false;">EVENTS</th>
                </tr>   
                <tr>
                    <th class="contacts-selector" ng-click="shows=true;secs=events=spons=sales=pub=hosp=webops=fin=fac=saf=qms=design=false;">PROFESSIONAL SHOWS</th>
                </tr>   
                <tr>
                    <th class="contacts-selector" ng-click="sales=true;secs=events=shows=spons=pub=hosp=webops=fin=fac=saf=qms=design=false;">MARKETING AND SALES</th>
                </tr>   
                <tr>
                    <th class="contacts-selector" ng-click="pub=true;secs=events=shows=sales=spons=hosp=webops=fin=fac=saf=qms=design=false;">PUBLICITY</th>
                </tr>   
                <tr>
                    <th class="contacts-selector" ng-click="hosp=true;secs=events=shows=sales=pub=spons=webops=fin=fac=saf=qms=design=false;">HOSPITALITY</th>
                </tr>   
                <tr>
                    <th class="contacts-selector" ng-click="webops=true;secs=events=shows=sales=pub=hosp=spons=fin=fac=saf=qms=design=false;">WEB AND MOBILE OPERATIONS</th>
                </tr> 
                <tr>
                    <th class="contacts-selector" ng-click="design=true;secs=events=shows=sales=pub=hosp=webops=fin=fac=saf=qms=spons=false;">DESIGN AND MEDIA</th>
                </tr> 
                <tr>
                    <th class="contacts-selector" ng-click="fin=true;secs=events=shows=sales=pub=hosp=webops=spons=fac=saf=qms=design=false;">FINANCE</th>
                </tr> 
                <tr>
                    <th class="contacts-selector" ng-click="fac=true;secs=events=shows=sales=pub=hosp=webops=fin=spons=saf=qms=design=false;">FACILITIES</th>
                </tr> 
                <tr>
                    <th class="contacts-selector" ng-click="saf=true;secs=events=shows=sales=pub=hosp=webops=fin=fac=spons=qms=design=false;">SAFETY AND SECURITY</th>
                </tr> 
                <tr>
                    <th class="contacts-selector" ng-click="qms=true;secs=events=shows=sales=pub=hosp=webops=fin=fac=saf=spons=design=false;">QMS</th>
                </tr> 
            </table>    
        </div>
    </div>

        <div id="box2" style="vertical-align:middle">
            <div class="details" ng-show="secs" >    
                <div id="sec(arts)" >
                    <h3>Secretary,Cultural Affairs (Arts)</h3>
                    <img class="contact-image" src="images/contact_images/AU.png" style="width:29%">
                    <span><h4>Aditya U</h4></span>
                    <span>
                        <a href="mailto:adi@saarang.org" target="_blank" class="ng-binding">adi@saarang.org</a>
                    </span>
                    <span>+919962971662</span>  
                </div>
                <div id="sec(literary)">
                    <h3>Secretary,Cultural Affairs (Literary)</h3>
                    <img class="contact-image" src="images/contact_images/koushikvas.png" style="width:29%">
                    <span><h4>Krishna Koushik</h4></span>
                    <span>
                        <a href="mailto:krishnakoushik@saarang.org" target="_blank" class="ng-binding">krishnakoushik@saarang.org</a>
                    </span>
                    <span>+917418789160</span>  
                </div>
            </div>

            <div class="details" ng-show="spons" >
                <img class="contact-image" src="images/contact_images/rathi.png" style="width:24%">
                    <span><h4>Anish Rathi</h4></span>
                    <span>
                        <a href="mailto:anish.rathi@saarang.org" target="_blank" class="ng-binding">anish.rathi@saarang.org</a>
                    </span>
                    <br>
                    <span>+919884685016</span>
                <img class="contact-image" src="images/contact_images/anirvan.png" style="width:24%">
                    <span><h4>Anirvan Bordoloi</h4></span>
                    <span>
                        <a href="mailto:anirvan.bordoloi@saarang.org" target="_blank" class="ng-binding">anirvan.bordoloi@saarang.org</a>
                    </span>
                    <br>
                    <span>+919962609617 </span>
                <img class="contact-image"src="images/contact_images/ashish.png" style="width:24%">
                    <span><h4>Ashish Jha</h4></span>
                    <span>
                        <a href="mailto:ashish.jha@saarang.org" target="_blank" class="ng-binding">ashish.jha@saarang.org</a>
                    </span>
                    <br>                    
                   <span>+918695851252</span>  
            </div>

            <div class="details" ng-show="events" >
                <img class="contact-image" src="images/contact_images/rushabh.png" style="width:29%">
                    <span><h4>Rushabh Menon</h4></span>
                    <span>
                        <a href="mailto:menon@saarang.org" target="_blank" class="ng-binding">menon@saarang.org</a>
                    </span>
                    <br>
                    <span>+919791057815</span>  
                <img class="contact-image" src="images/contact_images/srijith.png" style="width:29%">
                    <span><h4>Srijith R</h4></span>
                    <span>
                        <a href="mailto:srijith@saarang.org" target="_blank" class="ng-binding">srijith@saarang.org</a>
                    </span>
                    <br>
                    <span>+919176467000</span>  
            </div>

            <div class="details" ng-show="shows" >
                <img class="contact-image" src="images/contact_images/pothen.png" style="width:29%;">
                    <span><h4>Ashwin Pothen</h4></span>
                    <span>
                        <a href="mailto:harshith.guntha@saarang.org" target="_blank" class="ng-binding">ashwin@saarang.org</a>
                    </span>
                    <br>
                    <span>+919884300360</span>  
                <img class="contact-image" src="images/contact_images/harshith.png" style="width:29%;">
                    <span><h4>Harshith Guntha</h4></span>
                    <span>
                        <a href="mailto:harshith.guntha@saarang.org" target="_blank" class="ng-binding">harshith.guntha@saarang.org</a>
                    </span>
                    <br>
                    <span>+918056218712</span>
            </div>          

            <div class="details" ng-show="sales" >
                <img class="contact-image" src="images/contact_images/saikoushik.png" style="width:29%">
                    <span><h4>Sri Krishna Koushik</h4></span>
                    <span>
                        <a href="mailto:koushik.esk@saarang.org" target="_blank" class="ng-binding">koushik.esk@saarang.org</a>
                    </span>
                    <br>
                    <span>+918124343670</span>  
            </div>

            <div class="details" ng-show="pub" >
                <img class="contact-image" src="images/contact_images/matha.png" style="width:29%">
                    <span><h4>Sai Akhil Matha</h4></span>
                    <span>
                        <a href="mailto:koushik.esk@saarang.org" target="_blank" class="ng-binding">akhil@saarang.org</a>
                    </span>
                    <br>
                    <span>+918056128354</span>  
                <img class="contact-image"  src="images/contact_images/rinkesh.png" style="width:29%">
                    <span><h4>Rinkesh Virani</h4></span>
                    <span>
                        <a href="mailto:rinkeshvirani@saarang.org" target="_blank" class="ng-binding">rinkeshvirani@saarang.org</a>
                    </span>
                    <br>
                    <span>+919884299313</span>  
            </div>

            <div class="details" ng-show="hosp" >
                <img class="contact-image" src="images/contact_images/sreeharsha.png" style="width:29%">
                    <span><h4>Sreeharsha Gunda</h4></span>
                    <span>
                        <a href="mailto:sreeharsha@saarang.org" target="_blank" class="ng-binding">sreeharsha@saarang.org</a>
                    </span>
                    <br>
                    <span>+919962663576</span>  
            </div>

            <div class="details" ng-show="webops"  >
                <img class="contact-image" src="images/contact_images/deepak.png" style="width:29%">
                    <span><h4>Deepak Padamata</h4></span>
                    <span>
                        <a href="mailto:deepak@saarang.org" target="_blank" class="ng-binding">deepak@saarang.org</a>
                    </span>
                    <br>
                    <span>+919789107938</span>  
                <img class="contact-image" src="images/contact_images/aqel.png" style="width:29%">
                    <span><h4>Aqel Ahammed</h4></span>
                    <span>
                        <a href="mailto:aqel@saarang.org" target="_blank" class="ng-binding">aqel@saarang.org</a>
                    </span>
                    <br>
                    <span>+919633229144</span>  
            </div>

            <div class="details" ng-show="design" >
                <img class="contact-image" src="images/contact_images/thambi.png" style="width:24%">
                    <span><h4>Manavala Thambi</h4>
                        <a href="mailto:ktmanav@saarang.org" target="_blank" class="ng-binding">ktmanav@saarang.org</a>
                        +919962605305
                    </span>  
                <img class="contact-image" src="images/contact_images/rathees.png" style="width:24%">
                    <span><h4>Rathees P</h4>
                        <a href="mailto:ratiz@saarang.org" target="_blank" class="ng-binding">ratiz@saarang.org</a>
                        +919789575877
                    </span>  
                <img class="contact-image" src="images/contact_images/rahul.png" style="width:24%">
                    <span><h4>Rahul K</h4>
                        <a href="mailto:rahul@saarang.org" target="_blank" class="ng-binding">rahul@saarang.org</a>
                        +919884299695
                   </span>  
            </div>

            <div class="details" ng-show="fin" >
                <img class="contact-image" src="images/contact_images/favas.png" style="width:29%">
                    <span><h4>Favas MP</h4></span>
                    <span>
                        <a href="mailto:favas@saarang.org" target="_blank" class="ng-binding">favas@saarang.org</a>
                    </span>
                    <br>
                    <span>+917418304010</span>  
                <img class="contact-image" src="images/contact_images/ramanand.png" style="width:29%">
                    <span><h4>Srinivas Ramanand</h4></span>
                    <span>
                        <a href="mailto:ramanand@saarang.org" target="_blank" class="ng-binding">ramanand@saarang.org</a>
                    </span>
                    <br>
                    <span>+918807488931</span>  
            </div>

            <div class="details" ng-show="fac" >
                <img class="contact-image" src="images/contact_images/hari.png" style="width:29%">
                    <span><h4>Hari M</h4></span>
                    <span>
                        <a href="mailto:hari@saarang.org" target="_blank" class="ng-binding">hari@saarang.org</a>
                    </span>
                    <br>
                    <span>+917708948827</span>  
            </div>

            <div class="details" ng-show="saf" >
                <img class="contact-image" src="images/contact_images/amar.png" style="width:25%">
                    <span><h4>Amar Siva Santosh</h4></span>
                    <span>
                        <a href="mailto:hari@saarang.org" target="_blank" class="ng-binding">amar@saarang.org</a>
                    </span>
                    <span>+919952912020</span>  
                <img class="contact-image" src="images/contact_images/chinnu.png" style="width:25%">
                    <span><h4>Bharadwaj M</h4></span>
                    <span>
                        <a href="mailto:bharadwaj@saarang.org" target="_blank" class="ng-binding">bharadwaj@saarang.org</a>
                    </span>
                    <span>+918056102507</span>  
                <img class="contact-image" src="images/contact_images/ruthbabu.png" style="width:25%">
                    <span><h4>Ruth Babu Marpu</h4></span>
                    <span>
                        <a href="mailto:ruth.marpu@saarang.org" target="_blank" class="ng-binding">ruth.marpu@saarang.org</a>
                    </span>
                    <span>+919043812280</span>  
            </div>

            <div class="details" ng-show="qms" >
                <img class="contact-image" src="images/contact_images/vidyadhar.png" style="width:29%">
                    <span><h4>Vidyadhar Mudium</h4></span>
                    <span>
                        <a href="mailto:vidyadhar@saarang.org" target="_blank" class="ng-binding">vidyadhar@saarang.org</a>
                    </span>
                    <br>
                    <span>+919952044531</span>  
            </div>
        </div>   
</div>

<!--    <h4 offset="10">For any queries/feedback on the website/online services, please contact us at
            <a href="mailto:webops@saarang.org" target="_blank">webops@saarang.org</a>
            </h4>     -->

        <!--<div class="row">
            
            <div id="box1">

                <div class="col-md-5">
            
                    <div class="row">
                        <div id="deps">
                            <div class="col-md-8">
                            <u1>
                                <li>Secretary,Cultural Affairs (Arts)</li>
                                <br>
                                <li>Secretary,Cultural Affairs (Literary)</li>
                                <br>
                                <li>SPONSORSHIP AND PR</li>
                                <br>
                                <br>
                                <br>
                                <li>EVENTS</li>
                                <br>
                                <br>
                                <li>PROFESSIONAL SHOWS</li>
                                <br>
                                <li>MARKETING AND SALES</li>
                                <br>
                                <li>PUBLICITY</li>
                                <br>
                                <li>HOSPITALITY</li>    
                                <br>
                                <li>WEB AND MOBILE OPERATIONS</li>
                                <br>
                                <br>
                                <li>DESIGN AND MEDIA</li>  
                                <br>
                                <br>
                                <br>  
                                <li>FINANCE</li>
                                <br>
                                <br>
                                <li>FACILITIES</li>
                                <br>
                                <li>SAFETY AND SECURITY</li>
                                <br>
                                <br>
                                <li>QMS</li>
                                
                            </u1>
                            </div>-
                        <div id="spons">
                            <div class="row">
                                <div>
                                    <p>SPONSORSHIP AND PR<p>
                                </div>
                                <div>
                                    <button>Anish Rathi</button>
                                    <button>Anirvan Bordoloi</button>
                                    <button>Ashish Jha</button>    

                                </div>
                            </div>
                        </div>



                        </div>
                        <div id="names">
                            <div class="col-md-8">
                                <u1>
                                    <li><button>Aditya U</button></li>
                                    <br>
                                    
                                    <li>Krishna Koushik</li>
                                    
                                    <br>
                                    <li>Anish Rathi</li>
                                    <li>Anirvan Bordoloi</li>
                                    <li>Ashish Jha</li>
                                    <br>
                                    <li>Rushabh Menon</li>
                                    <li>Srijith R</li>
                                    <br>
                                    <li>Harshith Guntha</li>
                                    <br>
                                    <li>Sri Krishna Koushik</li>
                                    <br>
                                    <li>Rinkesh Virani</li>
                                    <br>
                                    <li>Sreeharsha Gunda</li>
                                    <br>
                                    <li><button>Deepak Padamata</button></li>
                                    <li><button>Aqel Ahammed</button></li>
                                    <br>
                                    <li>Manavala Thambi</li>
                                    <li>Rathees P</li>
                                    <li>Rahul K</li>
                                    <br>
                                    <li>Favas MP</li>
                                    <li>Srinivas Ramanand</li>
                                    <br>
                                    <li>Hari M</li>
                                    <br>
                                    <li>Bharadwaj M</li>
                                    <li>Ruth Babu Marpu</li>
                                    <br>
                                    <li>Vidyadhar Mudium</li>
                                    



                            </div>




                        </div>







                    </div>

                </div>    


            </div>
            <div id="box2">
            
                <div class="col-md-2 col-md-offset-3">

                </div>    


            </div> 
        </div>   
    </div>  --> 
  


	

    <!--<div id="secs">
    	<div class="row">
    		<div id="sec(arts)">
                <div class="col-md-6">
    				<h3>Secretary,Cultural Affairs (Arts)</h3>
    				<img src="images/contact_images/adi.png" style="width:196px">
    				<span><h4>Aditya U</h4></span>
    				
    				<span>
    					<a href="mailto:adi@saarang.org" target="_blank" class="ng-binding">adi@saarang.org</a>
    				</span>
    				<br>
    				<span>+919962971662</span>	
    			</div>
    		</div>
    		<div id="sec(literary)">
                <div class="col-md-6">
    				<h3>Secretary,Cultural Affairs (Literary)</h3>
    				<img src="http://saarang.org/2015/deploy/img/core_pics/krishnakoushik.png" style="width:196px">
    				<span><h4>Krishna Koushik</h4></span>
    				
    				<span>
    					<a href="mailto:krishnakoushik@saarang.org" target="_blank" class="ng-binding">krishnakoushik@saarang.org</a>
    				</span>
    				<br>
    				<span>+917418789160</span>	
    			</div>
    		</div>


    	</div>

    </div>
    <div id="spons">
        <h3>SPONSORSHIP AND PR</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-3">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/anish.png" style="width:196px">
                    <span><h4>Anish Rathi</h4></span>
                    
                    <span>
                        <a href="mailto:anish.rathi@saarang.org" target="_blank" class="ng-binding">anish.rathi@saarang.org</a>
                    </span>
                    <br>
                    <span>+919884685016</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/anirvan.png" style="width:196px">
                    <span><h4>Anirvan Bordoloi</h4></span>
                    
                    <span>
                        <a href="mailto:anirvan.bordoloi@saarang.org" target="_blank" class="ng-binding">anirvan.bordoloi@saarang.org</a>
                    </span>
                    <br>
                    <span>+919962609617</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/aashish.png" style="width:196px">
                    <span><h4>Ashish Jha</h4></span>
                    
                    <span>
                        <a href="mailto:ashish.jha@saarang.org" target="_blank" class="ng-binding">ashish.jha@saarang.org</a>
                    </span>
                    <br>
                    <span>+918695851252</span>  
                </div>
            </div>


        </div>

    </div>
    <div id="events">
        <h3>EVENTS</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-4">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/rushabh.png" style="width:196px">
                    <span><h4>Rushabh Menon</h4></span>
                    
                    <span>
                        <a href="mailto:menon@saarang.org" target="_blank" class="ng-binding">menon@saarang.org</a>
                    </span>
                    <br>
                    <span>+919791057815</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/srijith.png" style="width:196px">
                    <span><h4>Srijith R</h4></span>
                    
                    <span>
                        <a href="mailto:srijith@saarang.org" target="_blank" class="ng-binding">srijith@saarang.org</a>
                    </span>
                    <br>
                    <span>+919176467000</span>  
                </div>
            </div>
            


        </div>

    </div>
    <div id="proshows">
        <h3>PROFESSIONAL SHOWS</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/harshith.png" style="width:196px">
                    <span><h4>Harshith Guntha</h4></span>
                    
                    <span>
                        <a href="mailto:harshith.guntha@saarang.org" target="_blank" class="ng-binding">harshith.guntha@saarang.org</a>
                    </span>
                    <br>
                    <span>+918056218712</span>  
                </div>
            </div>
            
            


        </div>

    </div>
    <div id="marketing">
        <h3>MARKETING AND SALES</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/saikrishnakoushik.png" style="width:196px">
                    <span><h4>Sri Krishna Koushik</h4></span>
                    
                    <span>
                        <a href="mailto:koushik.esk@saarang.org" target="_blank" class="ng-binding">koushik.esk@saarang.org</a>
                    </span>
                    <br>
                    <span>+918124343670</span>  
                </div>
            </div>
            
            


        </div>

    </div>
    <div id="publicity">
        <h3>PUBLICITY</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/rinkesh.png" style="width:196px">
                    <span><h4>Rinkesh Virani</h4></span>
                    
                    <span>
                        <a href="mailto:rinkeshvirani@saarang.org" target="_blank" class="ng-binding">rinkeshvirani@saarang.org</a>
                    </span>
                    <br>
                    <span>+919884299313</span>  
                </div>
            </div>                 
        </div>
    </div>
    <div id="hospitality">
        <h3>HOSPITALITY</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/sreeharsha.png" style="width:196px">
                    <span><h4>Sreeharsha Gunda</h4></span>
                    
                    <span>
                        <a href="mailto:sreeharsha@saarang.org" target="_blank" class="ng-binding">sreeharsha@saarang.org</a>
                    </span>
                    <br>
                    <span>+919962663576</span>  
                </div>
            </div>                 
        </div>
    </div>
    <div id="webmobops">
        <h3>WEB AND MOBILE OPERATIONS</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-4">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/deepak.png" style="width:196px">
                    <span><h4>Deepak Padamata</h4></span>
                    
                    <span>
                        <a href="mailto:deepak@saarang.org" target="_blank" class="ng-binding">deepak@saarang.org</a>
                    </span>
                    <br>
                    <span>+919789107938</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/aqel.png" style="width:196px">
                    <span><h4>Aqel Ahammed</h4></span>
                    
                    <span>
                        <a href="mailto:aqel@saarang.org" target="_blank" class="ng-binding">aqel@saarang.org</a>
                    </span>
                    <br>
                    <span>+919633229144</span>  
                </div>
            </div>
            


        </div>

    </div>
    <div id="design">
        <h3>DESIGN AND MEDIA</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-3">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/thambi.png" style="width:196px">
                    <span><h4>Manavala Thambi</h4></span>
                    
                    <span>
                        <a href="mailto:ktmanav@saarang.org" target="_blank" class="ng-binding">ktmanav@saarang.org</a>
                    </span>
                    <br>
                    <span>+919962605305</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/rathees.png" style="width:196px">
                    <span><h4>Rathees P</h4></span>
                    
                    <span>
                        <a href="mailto:ratiz@saarang.org" target="_blank" class="ng-binding">ratiz@saarang.org</a>
                    </span>
                    <br>
                    <span>+919789575877</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/rahul.png" style="width:196px">
                    <span><h4>Rahul K</h4></span>
                    
                    <span>
                        <a href="mailto:rahul@saarang.org" target="_blank" class="ng-binding">rahul@saarang.org</a>
                    </span>
                    <br>
                    <span>+919884299695</span>  
                </div>
            </div>


        </div>

    </div>
    <div id="finance">
        <h3>FINANCE</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-4">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/favas.png" style="width:196px">
                    <span><h4>Favas MP</h4></span>
                    
                    <span>
                        <a href="mailto:favas@saarang.org" target="_blank" class="ng-binding">favas@saarang.org</a>
                    </span>
                    <br>
                    <span>+917418304010</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/ramanand.png" style="width:196px">
                    <span><h4>Srinivas Ramanand</h4></span>
                    
                    <span>
                        <a href="mailto:ramanand@saarang.org" target="_blank" class="ng-binding">ramanand@saarang.org</a>
                    </span>
                    <br>
                    <span>+918807488931</span>  
                </div>
            </div>
            


        </div>

    </div>
    <div id="facilities">
        <h3>FACILITIES</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/hari.png" style="width:196px">
                    <span><h4>Hari M</h4></span>
                    
                    <span>
                        <a href="mailto:hari@saarang.org" target="_blank" class="ng-binding">hari@saarang.org</a>
                    </span>
                    <br>
                    <span>+917708948827</span>  
                </div>
            </div>                 
        </div>
    </div>
    <div id="safety">
        <h3>SAFETY AND SECURITY</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-4">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/bharadwaj.png" style="width:196px">
                    <span><h4>Bharadwaj M</h4></span>
                    
                    <span>
                        <a href="mailto:bharadwaj@saarang.org" target="_blank" class="ng-binding">bharadwaj@saarang.org</a>
                    </span>
                    <br>
                    <span>+918056102507</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/ruthbabu.png" style="width:196px">
                    <span><h4>Ruth Babu Marpu</h4></span>
                    
                    <span>
                        <a href="mailto:ruth.marpu@saarang.org" target="_blank" class="ng-binding">ruth.marpu@saarang.org</a>
                    </span>
                    <br>
                    <span>+919043812280</span>  
                </div>
            </div>
            


        </div>

    </div>
    <div id="qms">
        <h3>QMS</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/vidyadhar.png" style="width:196px">
                    <span><h4>Vidyadhar Mudium</h4></span>
                    
                    <span>
                        <a href="mailto:vidyadhar@saarang.org" target="_blank" class="ng-binding">vidyadhar@saarang.org</a>
                    </span>
                    <br>
                    <span>+919952044531</span>  
                </div>
            </div>                 
        </div>
    </div>


-->



