<!-- <img src="../images/right.png" style="margin-top:-11%;height:50;width:100%;z-index:-1"> -->

<div id="back" >

  
  
	<div>
		<h4 offset="10">For any queries/feedback on the website/online services, please contact us at
	  	<a href="mailto:webops@saarang.org" target="_blank">webops@saarang.org</a>
		</h4>
		<h2>
			<b>Saarang 2016 Team</b>
		</h2>	
    </div>

    <div id="secs">
    	<div class="row">
    		<div id="sec(arts)">
                <div class="col-md-6">
    				<h3>Secretary,Cultural Affairs (Arts)</h3>
    				<img src="http://saarang.org/2015/deploy/img/core_pics/adi.png" style="width:196px">
    				<span><h4>Aditya U</h4></span>
    				
    				<span>
    					<a href="mailto:adi@saarang.org" target="_blank" class="ng-binding">adi@saarang.org</a>
    				</span>
    				<br>
    				<span>+919962971662</span>	
    			</div>
    		</div>
    		<div id="sec(literary)">
                <div class="col-md-6">
    				<h3>Secretary,Cultural Affairs (Literary)</h3>
    				<img src="http://saarang.org/2015/deploy/img/core_pics/krishnakoushik.png" style="width:196px">
    				<span><h4>Krishna Koushik</h4></span>
    				
    				<span>
    					<a href="mailto:krishnakoushik@saarang.org" target="_blank" class="ng-binding">krishnakoushik@saarang.org</a>
    				</span>
    				<br>
    				<span>+917418789160</span>	
    			</div>
    		</div>


    	</div>

    </div>
    <div id="spons">
        <h3>SPONSORSHIP AND PR</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-3">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/anish.png" style="width:196px">
                    <span><h4>Anish Rathi</h4></span>
                    
                    <span>
                        <a href="mailto:anish.rathi@saarang.org" target="_blank" class="ng-binding">anish.rathi@saarang.org</a>
                    </span>
                    <br>
                    <span>+919884685016</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/anirvan.png" style="width:196px">
                    <span><h4>Anirvan Bordoloi</h4></span>
                    
                    <span>
                        <a href="mailto:anirvan.bordoloi@saarang.org" target="_blank" class="ng-binding">anirvan.bordoloi@saarang.org</a>
                    </span>
                    <br>
                    <span>+919962609617</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/aashish.png" style="width:196px">
                    <span><h4>Ashish Jha</h4></span>
                    
                    <span>
                        <a href="mailto:ashish.jha@saarang.org" target="_blank" class="ng-binding">ashish.jha@saarang.org</a>
                    </span>
                    <br>
                    <span>+918695851252</span>  
                </div>
            </div>


        </div>

    </div>
    <div id="events">
        <h3>EVENTS</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-4">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/rushabh.png" style="width:196px">
                    <span><h4>Rushabh Menon</h4></span>
                    
                    <span>
                        <a href="mailto:menon@saarang.org" target="_blank" class="ng-binding">menon@saarang.org</a>
                    </span>
                    <br>
                    <span>+919791057815</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/srijith.png" style="width:196px">
                    <span><h4>Srijith R</h4></span>
                    
                    <span>
                        <a href="mailto:srijith@saarang.org" target="_blank" class="ng-binding">srijith@saarang.org</a>
                    </span>
                    <br>
                    <span>+919176467000</span>  
                </div>
            </div>
            


        </div>

    </div>
    <div id="proshows">
        <h3>PROFESSIONAL SHOWS</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/harshith.png" style="width:196px">
                    <span><h4>Harshith Guntha</h4></span>
                    
                    <span>
                        <a href="mailto:harshith.guntha@saarang.org" target="_blank" class="ng-binding">harshith.guntha@saarang.org</a>
                    </span>
                    <br>
                    <span>+918056218712</span>  
                </div>
            </div>
            
            


        </div>

    </div>
    <div id="marketing">
        <h3>MARKETING AND SALES</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/saikrishnakoushik.png" style="width:196px">
                    <span><h4>Sri Krishna Koushik</h4></span>
                    
                    <span>
                        <a href="mailto:koushik.esk@saarang.org" target="_blank" class="ng-binding">koushik.esk@saarang.org</a>
                    </span>
                    <br>
                    <span>+918124343670</span>  
                </div>
            </div>
            
            


        </div>

    </div>
    <div id="publicity">
        <h3>PUBLICITY</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/rinkesh.png" style="width:196px">
                    <span><h4>Rinkesh Virani</h4></span>
                    
                    <span>
                        <a href="mailto:rinkeshvirani@saarang.org" target="_blank" class="ng-binding">rinkeshvirani@saarang.org</a>
                    </span>
                    <br>
                    <span>+919884299313</span>  
                </div>
            </div>                 
        </div>
    </div>
    <div id="hospitality">
        <h3>HOSPITALITY</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/sreeharsha.png" style="width:196px">
                    <span><h4>Sreeharsha Gunda</h4></span>
                    
                    <span>
                        <a href="mailto:sreeharsha@saarang.org" target="_blank" class="ng-binding">sreeharsha@saarang.org</a>
                    </span>
                    <br>
                    <span>+919962663576</span>  
                </div>
            </div>                 
        </div>
    </div>
    <div id="webmobops">
        <h3>WEB AND MOBILE OPERATIONS</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-4">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/deepak.png" style="width:196px">
                    <span><h4>Deepak Padamata</h4></span>
                    
                    <span>
                        <a href="mailto:deepak@saarang.org" target="_blank" class="ng-binding">deepak@saarang.org</a>
                    </span>
                    <br>
                    <span>+919789107938</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/aqel.png" style="width:196px">
                    <span><h4>Aqel Ahammed</h4></span>
                    
                    <span>
                        <a href="mailto:aqel@saarang.org" target="_blank" class="ng-binding">aqel@saarang.org</a>
                    </span>
                    <br>
                    <span>+919633229144</span>  
                </div>
            </div>
            


        </div>

    </div>
    <div id="design">
        <h3>DESIGN AND MEDIA</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-3">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/thambi.png" style="width:196px">
                    <span><h4>Manavala Thambi</h4></span>
                    
                    <span>
                        <a href="mailto:ktmanav@saarang.org" target="_blank" class="ng-binding">ktmanav@saarang.org</a>
                    </span>
                    <br>
                    <span>+919962605305</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/rathees.png" style="width:196px">
                    <span><h4>Rathees P</h4></span>
                    
                    <span>
                        <a href="mailto:ratiz@saarang.org" target="_blank" class="ng-binding">ratiz@saarang.org</a>
                    </span>
                    <br>
                    <span>+919789575877</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/rahul.png" style="width:196px">
                    <span><h4>Rahul K</h4></span>
                    
                    <span>
                        <a href="mailto:rahul@saarang.org" target="_blank" class="ng-binding">rahul@saarang.org</a>
                    </span>
                    <br>
                    <span>+919884299695</span>  
                </div>
            </div>


        </div>

    </div>
    <div id="finance">
        <h3>FINANCE</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-4">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/favas.png" style="width:196px">
                    <span><h4>Favas MP</h4></span>
                    
                    <span>
                        <a href="mailto:favas@saarang.org" target="_blank" class="ng-binding">favas@saarang.org</a>
                    </span>
                    <br>
                    <span>+917418304010</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/ramanand.png" style="width:196px">
                    <span><h4>Srinivas Ramanand</h4></span>
                    
                    <span>
                        <a href="mailto:ramanand@saarang.org" target="_blank" class="ng-binding">ramanand@saarang.org</a>
                    </span>
                    <br>
                    <span>+918807488931</span>  
                </div>
            </div>
            


        </div>

    </div>
    <div id="facilities">
        <h3>FACILITIES</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/hari.png" style="width:196px">
                    <span><h4>Hari M</h4></span>
                    
                    <span>
                        <a href="mailto:hari@saarang.org" target="_blank" class="ng-binding">hari@saarang.org</a>
                    </span>
                    <br>
                    <span>+917708948827</span>  
                </div>
            </div>                 
        </div>
    </div>
    <div id="safety">
        <h3>SAFETY AND SECURITY</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-4">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/bharadwaj.png" style="width:196px">
                    <span><h4>Bharadwaj M</h4></span>
                    
                    <span>
                        <a href="mailto:bharadwaj@saarang.org" target="_blank" class="ng-binding">bharadwaj@saarang.org</a>
                    </span>
                    <br>
                    <span>+918056102507</span>  
                </div>
            </div>
            <div >
                <div class="col-md-2">
                    <img src="http://saarang.org/2015/deploy/img/core_pics/ruthbabu.png" style="width:196px">
                    <span><h4>Ruth Babu Marpu</h4></span>
                    
                    <span>
                        <a href="mailto:ruth.marpu@saarang.org" target="_blank" class="ng-binding">ruth.marpu@saarang.org</a>
                    </span>
                    <br>
                    <span>+919043812280</span>  
                </div>
            </div>
            


        </div>

    </div>
    <div id="qms">
        <h3>QMS</h3>
        <div class="row">
            <div >
                
                <div class="col-md-2 col-md-offset-5">
                    
                    <img src="http://saarang.org/2015/deploy/img/core_pics/vidyadhar.png" style="width:196px">
                    <span><h4>Vidyadhar Mudium</h4></span>
                    
                    <span>
                        <a href="mailto:vidyadhar@saarang.org" target="_blank" class="ng-binding">vidyadhar@saarang.org</a>
                    </span>
                    <br>
                    <span>+919952044531</span>  
                </div>
            </div>                 
        </div>
    </div>



</div>


