<div id="audio">
	<div id="informals_d" class="circles y informals">
		<a href="#/events/informals/"><img  id="informals_c" src="images/events/informals_c.png">
			<img  id="informals_t" src="images/events/informals_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="choreo_d" class="circles y choreo">
		<a href="#/events/choreo/"><img id="choreo_c" src="images/events/choreo_c.png">
			<img id="choreo" src="images/events/choreo.png">
			<img id="choreo_t" src="images/events/choreo_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="finearts_d" class="circles y finearts">
		<a href="#/events/finearts/"><img id="finearts_c" src="images/events/finearts_c.png">
			<img id="finearts" src="images/events/finearts.png">
			<img id="finearts_t" src="images/events/finearts_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="lecdems_d" class="circles y lecdems">
		<a href="#/events/lecdems"><img id="lecdems_c" src="images/events/lecdems_c.png">
			<img id="lecdems" src="images/events/lecdems.png">
			<img id="lecdems_t" src="images/events/lecdems_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="yellow_d" class="circles y yellow">
		<img id="yellow" src="images/events/yellow.png">
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="speaking_d" class="circles r speaking">
		<a href="#/events/speaking/"><img id="speaking_c" src="images/events/speaking_c.png">
			<img id="speaking" src="images/events/speaking.png">
			<img id="speaking_t" src="images/events/speaking_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="ca_d" class="circles r ca" >
		<a href="#/events/classicalarts/"><img id="ca_c" src="images/events/ca_c.png">
			<img id="ca" src="images/events/classicalarts.png">
			<img id="ca_t" src="images/events/classicalarts_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="lifestyle_d" class="circles r lifestyle">
		<a href="#/events/lifestyle/"><img id="lifestyle_c" src="images/events/lifestyle_c.png">
			<img id="lifestyle_t" src="images/events/lifestyle_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="lm_d" class="circles r lm">
		<a href="#/events/lightmusic/"><img id="lm_c" src="images/events/lm_c.png">
			<img id="lm" src="images/events/lightmusic.png">
			<img id="lm_t" src="images/events/lightmusic_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="dam_d" class="circles r dam">
		<a href="#/events/designmedia/"><img id="dam_c" src="images/events/dam_c.png">
			<img id="dam" src="images/events/dam.png">
			<img id="dam_t" src="images/events/designmedia_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="red_d" class="circles r red">
		<img id="red" src="images/events/red.png">
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="red1_d" class="circles r red1">
		<img id="red1" src="images/events/red.png">
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="quiz_d" class="circles b quiz">
		<a href="#/events/quizzing/"><img id="quiz_c" src="images/events/quiz_c.png">
			<img id="quiz" src="images/events/quizzing.png">
			<img id="quiz_t" src="images/events/quizzing_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="writing_d" class="circles b writing">
		<a href="#/events/writing/"><img id="writing_c" src="images/events/writing_c.png">
			<img id="writing" src="images/events/writing.png">
			<img id="writing_t" src="images/events/writing_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="wordgames_d" class="circles b wordgames">
		<a href="#/events/wordgames/"><img id="wordgames_c" src="images/events/wordgames_c.png">
			<img id="wordgames_t" src="images/events/wordgames_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="western_d" class="circles b western">
		<a href="#/events/westernmusic/"><img id="western_c" src="images/events/western_c.png">
			<img id="western" src="images/events/westernmusic.png">
			<img id="western_t" src="images/events/westernmusic_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="thespian_d" class="circles b thespian">
		<a href="#/events/thespian/"><img id="thespian_c" src="images/events/thespian_c.png">
			<img id="thespian_t" src="images/events/thespian_t.png">
		</a>
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
	<div id="blue_d" class="circles b blue">
		<img id="blue" src="images/events/blue.png">
		<!-- <audio id="welcomeSound" controls="controls" preload="auto">
			<source src="audio/gallery.mp3"></source>
		</audio> -->
	</div>
</div>
