<div class="y informals">
<a href=""><img  id="informals_c" src="images/events/informals_c.png"></a>
<img  id="informals_t" src="images/events/informals_t.png">
</div>
<div class="y choreo">
<a href=""><img id="choreo_c" src="images/events/choreo_c.png"></a>
<img id="choreo" src="images/events/choreo.png">
<img id="choreo_t" src="images/events/choreo_t.png">
</div>
<div class="y finearts">
<a href=""><img id="finearts_c" src="images/events/finearts_c.png"></a>
<img id="finearts" src="images/events/finearts.png">
<img id="finearts_t" src="images/events/finearts_t.png">
</div>
<div class="y lecdems">
<a href=""><img id="lecdems_c" src="images/events/lecdems_c.png"></a>
<img id="lecdems" src="images/events/lecdems.png">
<img id="lecdems_t" src="images/events/lecdems_t.png">
</div>
<div class="y yellow">
<a href=""><img id="yellow" src="images/events/yellow.png"></a>
</div>
<div class="r speaking">
<a href=""><img id="speaking_c" src="images/events/speaking_c.png"></a>
<img id="speaking" src="images/events/speaking.png">
<img id="speaking_t" src="images/events/speaking_t.png">
</div>
<div class="r ca">
<a href=""><img id="ca_c" src="images/events/ca_c.png"></a>
<img id="ca" src="images/events/classicalarts.png">
<img id="ca_t" src="images/events/classicalarts_t.png">
</div>
<div class="r lifestyle">
<a href=""><img id="lifestyle_c" src="images/events/lifestyle_c.png"></a>
<img id="lifestyle_t" src="images/events/lifestyle_t.png">
</div>
<div class="r lm">
<a href=""><img id="lm_c" src="images/events/lm_c.png"></a>
<img id="lm" src="images/events/lightmusic.png">
<img id="lm_t" src="images/events/lightmusic_t.png">
</div>
<div class="r dam">
<a href=""><img id="dam_c" src="images/events/dam_c.png"></a>
<img id="dam" src="images/events/dam.png">
<img id="dam_t" src="images/events/dandm_t.png">
</div>
<div class="r red">
<a href=""><img id="red" src="images/events/red.png"></a>
</div>
<div class="r red1">
<a href=""><img id="red1" src="images/events/red.png"></a>
</div>
<div class="b quiz">
<a href=""><img id="quiz_c" src="images/events/quiz_c.png"></a>
<img id="quiz" src="images/events/quizzing.png">
<img id="quiz_t" src="images/events/quizzing_t.png">
</div>
<div class="b writing">
<a href=""><img id="writing_c" src="images/events/writing_c.png"></a>
<img id="writing" src="images/events/writing.png">
<img id="writing_t" src="images/events/writing_t.png">
</div>
<div class="b wordgames">
<a href=""><img id="wordgames_c" src="images/events/wordgames_c.png"></a>
<img id="wordgames_t" src="images/events/wordgames_t.png">
</div>
<div class="b western">
<a href=""><img id="western_c" src="images/events/western_c.png"></a>
<img id="western" src="images/events/westernmusic.png">
<img id="western_t" src="images/events/westernmusic_t.png">
</div>
<div class="b thespian">
<a href=""><img id="thespian_c" src="images/events/thespian_c.png"></a>
<img id="thespian_t" src="images/events/thespian_t.png">
</div>
<div class="b blue">
<a href=""><img id="blue" src="images/events/blue.png"></a>
</div>
