<div class="capage">
	<a href="#/events"><div id="close" class="col-md-offset-11"><span ng-click="capage=false" class="glyphicon glyphicon-remove-circle"></span></div></a>
	<div id="title">
		<h1 ng-show="selectedCategory == 'informals'">Informals</h1>
		<h1 ng-show="selectedCategory == 'choreo'">Choreo</h1>
		<h1 ng-show="selectedCategory == 'finearts'">Fine Arts</h1>
		<h1 ng-show="selectedCategory == 'speaking'">Speaking</h1>
		<h1 ng-show="selectedCategory == 'classicalarts'">Classical Arts</h1>
		<h1 ng-show="selectedCategory == 'lifestyle'">Lifestyle</h1>
		<h1 ng-show="selectedCategory == 'lightmusic'">Light Music</h1>
		<h1 ng-show="selectedCategory == 'designmedia'">Design & Media</h1>
		<h1 ng-show="selectedCategory == 'quizzing'">Quizzing</h1>
		<h1 ng-show="selectedCategory == 'writing'">Writing</h1>
		<h1 ng-show="selectedCategory == 'wordgames'">Word Games</h1>
		<h1 ng-show="selectedCategory == 'westernmusic'">Western Music</h1>
		<h1 ng-show="selectedCategory == 'thespian'">Thespian</h1>
	</div>
	<!-- <br><br> -->
	<div class="left col-md-offset-1">
		<div class="row" ng-repeat="subevent in events | filter: category=selectedCategory">
			<div class="subevents" ng-click="show(subevent.name)">
				<h4>{{subevent.name}}</h4>	
			</div>	
		    <br>
		</div>
	</div>
	<!-- <br><br> -->
	<div class="col-md-5 col-md-offset-2">
		<img id="image" alt="image for {{selectedCategory}}" src="http://erp.saarang.org/media/{{selectedEvent.event_image}}">
	</div>
	<!-- <br> -->
	<div class="info col-md-6 col-md-offset-6">
		<!-- <div ng-bind-html="yo.long_description"></div> -->
		<h2 id="info_title">{{selectedEvent.name}}</h2>
		<tabset justified="true">
			<tab ng-repeat="tab in selectedEvent.eventtab_set" heading="{{tab.name}}"><div ng-bind-html="tab.content" class="tab_info"></div></tab>
		</tabset>
	</div>
</div>