<div class="y informals">
<div>
<a href="" ng-click="informalspage=true"><img  id="informals_c" src="images/events/informals_c.png">
<img  id="informals_t" src="images/events/informals_t.png">
</a>
</div>
</div>
<div class="y choreo">
<a href="" ng-click="choreopage=true"><img id="choreo_c" src="images/events/choreo_c.png">
<img id="choreo" src="images/events/choreo.png">
<img id="choreo_t" src="images/events/choreo_t.png">
</a>
</div>
<div class="y finearts">
<a href="" ng-click="finearts=true"><img id="finearts_c" src="images/events/finearts_c.png">
<img id="finearts" src="images/events/finearts.png">
<img id="finearts_t" src="images/events/finearts_t.png">
</a>
</div>
<div class="y lecdems">
<a href="" ng-click="lecdemspage=true"><img id="lecdems_c" src="images/events/lecdems_c.png">
<img id="lecdems" src="images/events/lecdems.png">
<img id="lecdems_t" src="images/events/lecdems_t.png">
</a>
</div>
<div class="y yellow">
<a href=""><img id="yellow" src="images/events/yellow.png">
</a>
</div>
<div class="r speaking">
<a href="" ng-click="speakingpage=true"><img id="speaking_c" src="images/events/speaking_c.png">
<img id="speaking" src="images/events/speaking.png">
<img id="speaking_t" src="images/events/speaking_t.png">
</a>
</div>
<div class="r ca">
<a href="" ng-click="capage=true"><img id="ca_c" src="images/events/ca_c.png">
<img id="ca" src="images/events/classicalarts.png">
<img id="ca_t" src="images/events/classicalarts_t.png">
</a>
</div>
<div class="r lifestyle">
<a href="" ng-click="lifestylepage=true"><img id="lifestyle_c" src="images/events/lifestyle_c.png">
<img id="lifestyle_t" src="images/events/lifestyle_t.png">
</a>
</div>
<div class="r lm">
<a href="" ng-click=""><img id="lm_c" src="images/events/lm_c.png">
<img id="lm" src="images/events/lightmusic.png">
<img id="lm_t" src="images/events/lightmusic_t.png">
</a>
</div>
<div class="r dam">
<a href="" ng-click="dampage=true"><img id="dam_c" src="images/events/dam_c.png">
<img id="dam" src="images/events/dam.png">
<img id="dam_t" src="images/events/dandm_t.png">
</a>
</div>
<div class="r red">
<a href=""><img id="red" src="images/events/red.png">
</a>
</div>
<div class="r red1">
<a href=""><img id="red1" src="images/events/red.png">
</a>
</div>
<div class="b quiz">
<a href="" ng-click="quizpage=true"><img id="quiz_c" src="images/events/quiz_c.png">
<img id="quiz" src="images/events/quizzing.png">
<img id="quiz_t" src="images/events/quizzing_t.png">
</a>
</div>
<div class="b writing">
<a href="" ng-click="writingpage=true"><img id="writing_c" src="images/events/writing_c.png">
<img id="writing" src="images/events/writing.png">
<img id="writing_t" src="images/events/writing_t.png">
</a>
</div>
<div class="b wordgames">
<a href="" ng-click="wordgamespage=true"><img id="wordgames_c" src="images/events/wordgames_c.png">
<img id="wordgames_t" src="images/events/wordgames_t.png">
</a>
</div>
<div class="b western">
<a href="" ng-click="westernpage=true"><img id="western_c" src="images/events/western_c.png">
<img id="western" src="images/events/westernmusic.png">
<img id="western_t" src="images/events/westernmusic_t.png">
</a>
</div>
<div class="b thespian">
<a href="" ng-click="thespian=true"><img id="thespian_c" src="images/events/thespian_c.png">
<img id="thespian_t" src="images/events/thespian_t.png">
</a>
</div>
<div class="b blue">
<a href=""><img id="blue" src="images/events/blue.png">
</a>
</div>
<!-- LECDEMS -->
<div ng-show="lecdemspage" class="lecdemspage">
	<div><img id="lecdems_t1" src="images/events/lecdems_t.png"></div>
	<div id="close" class="col-md-1 col-md-offset-11"><span ng-click="lecdemspage=false" class="glyphicon glyphicon-remove-circle"></span></div>
	<div class="lec top col-md-offset-1 l1"></div>
	<div class="lec top col-md-offset-3 l2"></div>
	<div class="lec top col-md-offset-5 l3"></div>
	<div class="lec top col-md-offset-7 l4"></div>
	<div class="lec top col-md-offset-9 l5"></div>
	<div class="lec bottom col-md-offset-2 l6"></div>
	<div class="lec bottom col-md-offset-4 l7"></div>
	<div class="lec bottom col-md-offset-6 l8"></div>
	<div class="lec bottom col-md-offset-8 l9"></div>
</div>
<!-- CLASSICALARTS -->
<div ng-show="capage" class="capage">
	<div id="close" class="col-md-offset-11"><span ng-click="capage=false" class="glyphicon glyphicon-remove-circle"></span></div>
	<div><img id="ca_t1" src="images/events/classicalarts_t.png"></div>
	<br><br>
	<br><br>
	<div class="col-md-5 col-md-offset-2">
		<img id="dance" src="images/classical/dance.png">
	</div>
	<br><br><br>
	<div class="col-md-offset-1">	
		<div class="caside c1">
			<h2>SOLODANCE</h2>	
		</div>
		<span class="glyphicon g1 right glyphicon-option-vertical"></span>
		<span class="glyphicon g1 left glyphicon-option-vertical"></span>
		<br><br>
		<div class="caside c2">
			<h2>GROUPDANCE</h2>	
		</div>
		<span class="glyphicon g2 right glyphicon-option-vertical"></span>
		<span class="glyphicon g2 left glyphicon-option-vertical"></span>
		<br><br>
		<div class="caside c3">
			<h2>VOCAL</h2>	
		</div>
		<span class="glyphicon g3 right glyphicon-option-vertical"></span>
		<span class="glyphicon g3 left glyphicon-option-vertical"></span>
		<br><br>
		<div class="caside c4">
			<h2>INSTRUMENTAL</h2>	
		</div>
	</div>	
	<div class="info col-md-5 col-md-offset-6">
		<p>information regarding the art</p>
	</div>
</div>