<div class="row {{pageClass}}" style="">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="hospi-container">
        <h3 class="hospi-header">Hospitality at Saarang</h3>
        <hr/>
	        <div class="col-xs-2"> <!-- required for floating -->
	          <!-- Nav tabs -->
	          <ul class="nav nav-tabs tabs-left">
	            <li class="ht-1 active" ng-click="activate(1)"><a>Atithi Devo Bhavah</a></li>
	            <li class="ht-2" ng-click="activate(2)"><a data-toggle="tab">Control Room</a></li>
	            <li class="ht-3" ng-click="activate(3)"><a data-toggle="tab">Accommodation Portal</a></li>
	            <li class="ht-4" ng-click="activate(4)"><a data-toggle="tab">Alternate Accomodation</a></li>
	            <li class="ht-5" ng-click="activate(5)"><a data-toggle="tab">Reaching IIT Madras</a></li>
	            <li class="ht-6" ng-click="activate(6)"><a data-toggle="tab">About Campus</a></li>
	          </ul>
	        </div>

	        <div class="col-xs-10">
	          <div class="tab-content">
	            <div class="tab-pane ht-1 active">
	            	<p>
                        We, at Hospitality, strongly believe that our Guest is our God. We shall leave no stone unturned to ensure that your stay here is comfortable and enjoyable. We, at Saarang, ensure that you have the fun while we take care of the rest.
                    </p>
                    <p>
                        We would request you to register your college contingent at the Hospitality Web portal as early as possible to facilitate us to assist you in the best possible manner. We can also help you better if you can intimate us about your plans in advance, so that appropriate arrangements can be made. Looking forward to have a great time with you!
                    </p>
                    <p>
                        Note : Apart from our Control Room, we have the Hospitality Desk - an indispensable part of the fest, just outside the main fest arena. It is a one stop centre to answer all your queries. On-Spot Registration for few events will also be done here. We also provide other information like Updates, Event Results, Daily Events etc., at the Hospitality Desk.
                    </p>
                    <p>
                        For Hospitality related queries, Please reach out to us at hospitality@saarang.org<br/>
                        or contact:<br/><br/>
                        <b>Sree Harsha</b><br/>
                        Core Member, Hospitality<br/>
                        sreeharsha@saarang.org<br/>
                        +919962663576
                    </p>
	            </div>
	            <div class="tab-pane ht-2">
	            	<p>
                        We strive to make your stay with us, as pleasant and comfortable as we can. Upon reaching the IIT Madras campus, participants who registered for accommodation are requested to report to the Control Room, which will be operational day and night (except from 5pm to 12 midnight which is the time for Professional Shows). Participants will be requested to produce all necessary documents at the control room. Nominal charges for accommodation will be collected here depending on the number of days you wish to avail this facility. The control room will close in the afternoon of the final day of Saarang. All participants are required to carry their :
                    </p>
                    <p>
                        <ol style="font-size:16px">
                            <li>SAAR (Saarang Advanced Accommodation Registration) letter which will be made available to people whose accommodation is confirmed</li>
                            <li>College identity cards (original and a copy) </li>
                            <li>Bonafide certificates (original and a copy)</li>
                        </ol>
                    </p>
                    <p>
                        In order to avail accommodation on campus. Participants are also expected to follow certain Rules and Regulations to help us maintain the festive atmosphere in the institute. We would be issuing Saarang ID cards to all the outstation participants.
                    </p>
	            </div>
	            <div class="tab-pane ht-3">
	            	<p style="text-align: center;">
                        <a class="btn btn-primary" href="accommodation" ng-if="loggedIn">Log into Accommodation Portal</a>
                        <span  ng-if="!loggedIn">Log in to enter Accommodation Portal</span>
                        
                        <br/>Accommodation will be provided from 10 AM on January 7th 2015 to 9 AM on January 12th 2015. <br/> For teams who have registered online for team events, their team leader can register for On-campus accommodation.<br/>You can create new team and request for accommodation even if you are not registerd for events<br/>Individuals can also request for accommodation by creating a team with no members in it.<br/> Please note, registering here DOES NOT guarantee you accommodation on campus. Your accommodation will be confirmed only if you receive a mail from the hospitality team with a confirmation letter.
                    </p>
                    <p>
                        Also, to register for accommodation, you first need to register each individual member of the team on the Saarang website. <!--Click here for accomodation-->
                    </p>
	            </div>
	            <div class="tab-pane ht-4">
	            	<p>
                        Since we have limited space on campus, we might not be able to provide accommodation to all participants who apply for accommodation. In case you don't receive a confirmation mail regarding your accommodation from the Hospitality team, you can always make arrangements for your stay outside our campus.
                    </p>
                    <p>
                        For your reference, We have uploaded a list of hotels and lodges nearby .<a href='hotels around iit madras.pdf' target='_blank'>click here for details</a>
                    </p></div>
	            <div class="tab-pane ht-5">
	            	<center>
                    <p>Outstation participants can reach the IIT Madras campus via bus, auto or call-taxi which is available just outside the station.</p>
                    <p>
                    <b>IITM campus:</b></p>
                    
                    Is located on  the Sardar Patel Road<br/>
                    Is midway between the Raj Bhavan and  Madyakailash.<br/>
                    Is 13 kilometers from Chennai Central Railway Station<br/></ul>

                    <p><b>Landmarks - </b></p>
                    
                    Adjacent to Guindy Snake Park, Adyar Cancer Institute
                    <br/>Opposite to Central Leather Research Institute and  Anna University<br/></ul>

                    <p><b>A. From Chennai Central</b></p>
                    
                    Hire an auto/taxi to IIT Madras..<br/> 
                    You can catch a bus just outside the Chennai Central. 18B and 19S are the direct buses to IITM (Get down at Gandhi Mandapam /IITM). From the gate there are IITM buses to the hostels, every 20 minutes.
                     <br/>

                    <p><b>B. From Egmore Station:</b></p>
                    Hire an auto/taxi to IIT Madras.<br/>
                    Catch 23C which heads directly to IITM. From the main gate there are IITM buses to the hostels, every 20 minutes
                    <br/>

                    <p><b>C. From Airport:</b></p>
                    Hire an auto/taxi to IIT Madras. Inside the campus, get down at the Hospitality Control Room.
                    <br/>Take bus number PP21 directly to institute or 21G to Gandhi Mandapam which is at a stone throw's distance from out gate. From the main gate there are IITM buses to the hostels, every 20 minutes.
                    <br/>

                    <p><b>D. From CMBT:</b></p>
                    
                    Hire an auto/taxi to IIT Madras (inside)
                    <br/>Catch Bus number 23M or 5E which come directly to institute. From the main gate there are IITM buses to the hostels, every 20 minutes.
                    <br/>
                    <p></p>
                	</center>
	            </div>
	            <div class="tab-pane ht-6">
	            	<p>Set in a lush green campus spanning 620 acres in the heart of Chennai, IIT Madras is home to 6000 students and also a few hundred monkeys, deer and blackbucks. Carved from the Guindy National Park, IITM, which celebrated its Golden Jubilee in 2009, is blessed with rich wildlife that perhaps no other college in the world can boast of.
                </p><p>
                    IIT Madras boasts one of the most vibrant student population in India with it's eclectic mix of students taking part in a variety of events on campus ranging from quizzing to hosting and excelling in technical events. 
                </p><p> Cultural activities on campus reach its peak in January as Saarang fever takes over the campus. Formerly known as Mardi Gras, Saarang has, over the years, evolved into the behemoth it is today.
                    </p><p>
                    IITM being a residential campus has 17 hostels all of which are named after rivers. This along with the fact that the campus buses used to be named after mountains has resulted in an epigram about IIT Madras that it is the only place where the mountains move and the rivers remain still.
                </p><p>
                    Another distinctive feature of the campus is its lingo. A mix of English, Hindi, Telugu, Malayalam and Tamil, aspects of the campus slang has been adopted by some other Chennai  colleges. Interestingly enough, the lingo has outgrown the boundaries of the college and has resulted in a Master's thesis about it in a German university.
                </p>
	            </div>
	          </div>
	        </div>
         </div>
	</div>
</div>