<div ng-show="lecdemspage" class="lecdemspage">
	<div><img id="lecdems_t1" src="images/events/lecdems_t.png"></div>
	<a href="#/events" ><div id="close" class="col-md-1 col-md-offset-11"><span class="glyphicon glyphicon-remove-circle"></span></div></a>
	<div class="lec top col-md-offset-1 l1"></div>
	<div class="lec top col-md-offset-3 l2"></div>
	<div class="lec top col-md-offset-5 l3"></div>
	<div class="lec top col-md-offset-7 l4"></div>
	<div class="lec top col-md-offset-9 l5"></div>
	<div class="lec bottom col-md-offset-2 l6"></div>
	<div class="lec bottom col-md-offset-4 l7"></div>
	<div class="lec bottom col-md-offset-6 l8"></div>
	<div class="lec bottom col-md-offset-8 l9"></div>
</div>