<!-- <div id="transit">
    <img ng-show="chsun"    id="sun" src="images/sun.jpg" >
    <img ng-show="chmoon"    id="moon" src="/images/download.jpg">
</div> -->
    <div ><img id="logo" class="logo" src="images/logo.png"></div>
    <div><h1 class="caption">The Grand Voyage</h1></div>
<div id="container" class="container">
    <div id="scene">
        <div class="layer expand-width" data-depth="0.60"><img id="w1" class="w" src="images/w3.png"></div>
        <div class="layer expand-width" data-depth="0.80"><img id="s" class="s" src="images/ship.png"></div>
        <div class="layer expand-width" data-depth="0.80"><img id="w2" class="w" src="images/w2.png"></div>
        <div class="layer expand-width" data-depth="1.00"><img id="w3" class="w" src="images/w1.png"></div>
     </div>
</div>