<!-- <div id="transit">
    <img ng-show="chsun"    id="sun" src="images/sun.jpg" >
    <img ng-show="chmoon"    id="moon" src="/images/download.jpg">
</div> -->
<div id="container" class="container">
    <div ><img id="t" class="t" src="../images/text.png"></div>
    <div ><img id="l" class="l" src="../images/logo.png"></div>
    <div id="scene">
        <div class="layer expand-width" data-depth="0.60"><img id="w1" class="w" src="../images/w3.png"></div>
        <div class="layer expand-width" data-depth="0.80"><img id="s" class="s" src="../images/ship.png"></div>
        <div class="layer expand-width" data-depth="0.80"><img id="w2" class="w" src="../images/w2.png"></div>
        <div class="layer expand-width" data-depth="1.00"><img id="w3" class="w" src="../images/w1.png"></div>
     </div>
</div>