<div class="row milan">
	<div class="col-md-4 col-md-offset-1 leftBox">
		<p>Milan is where Saarang goes beyond Chennai to reach out to the huge spectrum of audience. Saarang Milan is a plethora of events ranging from music to quizzing, held in various major cities of India before the main fest. The Milan events are massive crowd pullers and have seen colossal participation from the crowd all over the country.
Last year, Saarang Milan saw huge turnouts in every place. The best artists of the city competed for glory. Bangalore, Hyderabad, Pune, Kochi and Mangalore were the venues of Milan. 
Milan is a celebration. A celebration of the widespread popularity of Saarang!
This time around, Saarang Milan is going to be bigger and better than ever before!</p>
	</div>
	<div class="col-md-5 col-md-offset-1 tabs">
		<tabset justified="true" ng-hide="chform">
			<tab class="tab" heading="Bengaluru">
				<div class="col-md-12 rightBox">
					<p>
						Coming soon
					</p>	
				</div>	
			</tab>
			<tab class="tab" heading="Hyderabad">
				<div class="col-md-12 rightBox">
					<p>
						Coming soon
					</p>
				</div>
			</tab>
			<tab class="tab" heading="Kochi">
				<div class="col-md-12 rightBox">
					<p>
						Coming soon
					</p>	
				</div>
			</tab>
			<tab class="tab" heading="Mangalore">
				<div class="col-md-12 rightBox">
					<p>
						Mangalore took pride in a renowned café called the G6 Music Café. October 19 2014 saw the beginning of Saarang Milan and kudos to Mangalore G6 Café for the initiation of a musical expedition. The Band Hunt Competition (Decibels) attracted participants from as far as Coimbatore and Bhopal. Despite being jinxed by bad weather, Saarang Milan witnessed a bewildering crowd where 7 bands participated. 
					</p>
				</div>	
			</tab>
			<tab class="tab" heading="Pune">
				<div class="col-md-12 rightBox">
					<p>
						Coming soon
					</p>	
				</div>
			</tab>	
		</tabset>
	</div>
	
	<div>
		<div id="formshow" ng-show="chform" class="col-md-5 col-md-offset-1 rightBox">	
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="name" class="col-sm-2 control-label">Band Name</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="name" placeholder="Name of the Band" ng-model="band.name">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="genre" class="col-sm-2 control-label">Genre</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="genre" placeholder="Genre" ng-model="band.genre">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="city" class="col-sm-2 control-label">City</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="city" placeholder="Which city are you from?" ng-model="band.city">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="email" class="col-sm-2 control-label">Email</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="email" placeholder="Your band's email ID" ng-model="band.email">
			    </div>
			  </div>
			  <div ng-repeat="member in band.members">
				  <div class="form-group">
				    <label for="memberName" class="col-sm-2 control-label">Member {{$index + 1}}</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" placeholder="Name" ng-model="member.name">
				    </div>
				  </div>
				  <div class="form-group">
				  	<button class="btn btn-danger" ng-click="deleteMember({{$index}})" ng-hide="$first" class="col-sm-2 pull-left"><span class="glyphicon glyphicon-trash"></span></button>
				    <div class="col-sm-10 pull-right">
				      <input type="email" class="form-control" placeholder="Email" ng-model="member.email">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-10 col-sm-offset-2">
				      <input type="text" class="form-control" placeholder="Phone Number" ng-model="member.phone">
				    </div>
				  </div>

			  </div>
			  <button ng-click="addMember()" class="btn pull-left"><span class="glyphicon glyphicon-plus"></span> Add Member</button>
			  <button class="btn btn-success pull-right" ng-click="submit()">Submit</button>
			</form>
		</div>
	</div>
</div>