<!-- <div class="row yo">
	<div class="show-block" ng-click="open('lg', 'classical night')" id="classical">
		<div class="pic">
			<img src="images/proshow_images/classical.jpg">
		</div>
	</div>
	<div class="show-block" ng-click="open('lg', 'choreo night')" id="choreo">
		<div class="pic">
			<img src="images/proshow_images/choreo.jpg">
		</div>
	</div>
	<div class="show-block" ng-click="open('lg', 'edm night')" id="edm">
		<div class="pic">
			<img src="images/proshow_images/edm.jpg">
		</div>
	</div>	
	<div class="show-block" ng-click="open('lg', 'rock show')" id="rock">
		<div class="pic">
			<img src="images/proshow_images/rock.jpg">
		</div>
	</div>
	<div class="show-block" ng-click="open('lg', 'popular night')" id="popular">
		<div class="pic">
			<img src="images/proshow_images/popular.jpg">
		</div>
	</div>
</div> -->
<div id="close"><span ng-show="back_arrow" class="glyphicon glyphicon-circle-arrow-left"></span></div>
<div ng-show="yo" id="info">
	<div  style="background: url('../images/proshow_images/{{image}}.jpg')" id="full">
		<div class="col-md-offset-7 col-md-5 data">

		</div>
	</div>
</div>
<div id="name">
	<div class="title" id="pro_t" ng-show="pro">PRO SHOWS</div>
	<!-- <div class="date" ng-show="pro">JAN 6<sup>th</sup> to JAN 10<sup>th</sup> </div> -->
	<div class="title" ng-show="classical">CLASSICAL NIGHT</div>
	<div class="date" ng-show="classical">JAN - 6<sup>th</sup></div>
	<div class="title" ng-show="choreo">CHOREO NIGHT</div>
	<div class="date" ng-show="choreo">JAN - 7<sup>th</sup></div>
	<div class="title" ng-show="edm">EDM</div>
	<div class="date" ng-show="edm">JAN - 8<sup>th</sup></div>
	<div class="title" ng-show="rock">ROCK SHOW</div>
	<div class="date" ng-show="rock">JAN - 9<sup>th</sup></div>
	<div class="title" ng-show="popular">POPULAR NIGHT</div>
	<div class="date" ng-show="popular">JAN - 10<sup>th</sup></div>
</div>
<div class="row">
<div class="container"  ng-mouseleave="classical=false;pro=true" ng-mouseenter="classical=true;pro=false" ng-click="image='classical';yo=true;back_arrow=true" id="classical">
	<div class="box">
		<div class="image"></div>
	<!-- <img src="images/proshow_images/classical.jpg"> -->
	<!-- <div class="content" ng-hide="classical">
		hello there !!!
	</div> -->
	</div>
</div>
<div class="container"  ng-mouseleave="choreo=false;pro=true" ng-mouseenter="choreo=true;pro=false" ng-click="image='choreo';yo=true;back_arrow=true" id="choreo">
	<div class="box">
		<div class="image"></div>
	<!-- <img src="images/proshow_images/choreo.jpg">
	<div class="content" ng-show="choreo">
		hello there !!!
	</div> -->
	</div>
</div>

<div class="container"  ng-mouseleave="edm=false;pro=true" ng-mouseenter="edm=true;pro=false" ng-click="image='edm';yo=true;back_arrow=true" id="edm">
	<div class="box">
		<div class="image"></div>
	<!-- <img src="images/proshow_images/edm.jpg">
	<div class="content" ng-show="edm">
		hello there !!!
	</div> -->
	</div>
</div>

<div class="container"  ng-mouseleave="rock=false;pro=true" ng-mouseenter="rock=true;pro=false" ng-click="image='rock';yo=true;back_arrow=true" id="rock">
	<div class="box">
		<div class="image"></div>
	<!-- <img src="images/proshow_images/rock.jpg">
	<div class="content" ng-show="rock">
		hello there !!!
	</div> -->
	</div>
</div>

<div class="container"  ng-mouseleave="popular=false;pro=true" ng-mouseenter="popular=true;pro=false" ng-click="image='popular';yo=true;back_arrow=true" id="popular">
	<div class="box">
		<div class="image"></div>
	<!-- <img src="images/proshow_images/popular.jpg">
	<div class="content" ng-show="popular">
		hello there !!!
	</div> -->
	</div>
</div>


</div>

<script type="text/ng-template" id="proshowsDetails.html">
    <div class="modal-body row {{pageClass}}" style="background: url('images/classical_modal.png'); background-size:100%;">
    	<div class="col-md-5 col-md-offset-7 info">
    		Info Here for {{show}}
    	</div>
    </div>
</script>